doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Создать пользователя
    link(rel="stylesheet", href="/style.css")
  body
    div.container
      h1 ✨ Новый пользователь
      
      form(method="POST", action="/users")
        div.form-group
          label Имя:
          input(type="text", name="name", required)
        
        div.form-group
          label Email:
          input(type="email", name="email", required)
        
        div.buttons
          button(type="submit", class="btn btn-success") ✅ Создать
          a(href="/users", class="btn btn-secondary") ↩️ Отмена